
.breadcrumbText{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px!important;
    color: #000000!important;
    text-decoration: none!important;
}

.breadcrumbText:hover{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px!important;
    color: #000000!important;
    text-decoration: none!important;
}
