.statistic-container{
    background-color: #f1f1f1;
    width: 100%;
    height: 430px;
}

.HomeStatistic-card{
    border-radius: 0!important;
    margin: 0!important;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.HomeStatistic-card:hover{
    border-radius: 0!important;
    margin: 0!important;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
}

.statistics-img{
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    min-width: 80px;
    min-height: 80px;
}

.statistics-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #7D58A5FF;
}

.statistics-des{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #595959;
}
