.whyChooseTop {
    margin-top: 50px;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #414141;
}

.sectionSubTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #1d1d1d;
}

.choose-img {
    width: 100%;
    height: 80px;
}

