.homeBannerImage{
    width: 100% !important;
    height: 350px;
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
