.homeBannerImage{
    background-image: url('../../asset/images/city/city5.jpg');
    width: 100% !important;
    height: 350px!important;
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0!important;
    padding: 0!important;
    background-attachment: fixed!important;
}
