.notificationBtn {
    height: 30px !important;
    width: 70px !important;
    font-size: 12px;
    color: #ffffff;
    background-color: #C20035;
    font-weight: 300;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    box-shadow: none !important;
}

.notification:focus {
    border-radius: 2px;
    box-shadow: none !important;
}

.notificationCard {
    border-radius: 2px;
    margin: 5px;
    padding-left: 20px !important;
    background-color: #f5f5f5;
    border: none !important;
}

.notificationDes {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.notificationQuestion {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.notificationModalBtn {
    border-radius: 2px !important;
    background-color: #C20035;
    font-family: 'Roboto', sans-serif;
    border-color: #C20035;
    box-shadow: none !important;
}

.notificationModalBtn:focus {
    border-radius: 2px !important;
    background-color: #C20035;
    font-family: 'Roboto', sans-serif;
    border-color: #C20035;
    box-shadow: none !important;
}

@media (max-width: 374.98px) {
    .notificationQuestion {
        font-size: 14px;
        font-weight: 500;
    }
}

@media (min-width: 375.98px) and (max-width: 575.98px) {
    .notificationQuestion {
        font-size: 14px;
        font-weight: 500;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .notificationQuestion {
        font-size: 16px;
        font-weight: 500;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .notificationQuestion {
        font-size: 16px;
        font-weight: 500;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .notificationQuestion {
        font-size: 16px;
        font-weight: 500;
    }
}

@media (min-width: 1200px) {

}
