.popularCityImage{
    width: 100%;
    height: 250px;
    opacity: 0.9;
}

.popularCityTitle{
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.popularCityHrTag{
    width: 50%;
    margin-top: 5px;
    margin-left: 0px;
    background-color: #ffffff;
    border-width: 2px;
}
