table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top:0!important;
}

.dxkQqS {
    text-transform: capitalize;
}

.RainbowBorder {
    border-color: #cfcfcf !important;
    border-radius: 0!important;
    color:#778899!important;
    text-align: center;
    padding-left: 4px!important;
    padding-right: 24px!important;
    padding-top:0!important;
    margin:0 10px 0 5px!important;
    height:60px!important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.RainbowBorder:hover{
    border-color: #cfcfcf !important;
    background-color: #f5f5f5;
    margin: 0 10px 0 5px !important;
    padding-left: 4px!important;
    padding-right: 24px!important;
    padding-top:0!important;
    height:60px!important;
    box-shadow:none!important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}


.RainbowBorder:focus, .RainbowBorder:active {
     padding-left: 4px!important;
     padding-right: 24px!important;
     border-color: #cfcfcf !important;
     background-color: #f5f5f5;
     margin: 0 10px 0 5px!important;
     height:60px!important;
     box-shadow:none!important;
     font-family: 'Roboto', sans-serif !important;
     font-size: 14px !important;
     font-weight: 400 !important;
 }

.inputDateP input {
    border-color: #cfcfcf !important;
    color: #f5f5f5!important;
    background-color: #ffffff;
    margin: 0 10px 0 5px!important;
    padding: 0 20px 0 20px!important;
    border-radius: 0!important;
    height:60px!important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.inputDateP input:hover{
    border-color: #cfcfcf !important;
    color: #f5f5f5!important;
    background-color: #ffffff;
    margin: 0 10px 0 5px!important;
    padding: 0 20px 0 20px!important;
    border-radius: 0!important;
    height:60px!important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.inputDateP input:focus {
    color: #f5f5f5!important;
    background-color: #ffffff;
    margin: 0 10px 0 5px!important;
    padding: 0 8px 0 20px!important;
    border-color: #cfcfcf !important;
    border-radius: 0!important;
    height:60px!important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    box-shadow: none!important;
}

.text2 input .placeholder{
    font-family: 'Roboto', sans-serif !important;
    color: #778899!important;
    font-size: 14px!important;
    font-weight: 300!important;
}

path {
   /* fill: #56B5E3FF;*/
}

@media (max-width: 374.98px) {
    .RainbowBorder {
        height:32px!important;
    }
    .RainbowBorder:hover{
        height:32px!important;
    }
    .RainbowBorder:focus, .RainbowBorder:active {
        height:32px!important;
    }
    .inputDateP input {
        height:32px!important;
    }
    .inputDateP input:focus {
        height:32px!important;
    }
}

@media (min-width: 375.98px) and (max-width: 575.98px){
    .RainbowBorder {
        height:32px!important;
    }
    .RainbowBorder:hover{
        height:32px!important;
    }
    .RainbowBorder:focus, .RainbowBorder:active {
        height:32px!important;
    }
    .inputDateP input {
        height:32px!important;
    }
    .inputDateP input:focus {
        height:32px!important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .RainbowBorder {
        height:32px!important;
    }
    .RainbowBorder:hover{
        height:32px!important;
    }
    .RainbowBorder:focus, .RainbowBorder:active {
        height:32px!important;
    }
    .inputDateP input {
        height:32px!important;
    }
    .inputDateP input:focus {
        height:32px!important;
    }
}
