@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "footer.css";
@import "about.css";
@import "button.css";
@import "card.css";
@import "cart.css";
@import "common.css";
@import "home.css";
@import "homeBanner.css";
@import "image.css";
@import "map.css";
@import "navMenu.css";
@import "other.css";
@import "responsive.css";
@import "typo.css";
@import "homeSearch.css";
@import "homeStatistic.css";
@import "whyChoose.css";
@import "twentyFourHourDeals.css";
@import "mostPopularHotel.css";
@import "popularCity.css";
@import "recommendedHotel.css";
@import "roomDetails.css";
@import "hotelDetails.css";
@import "login.css";
@import "profile.css";
@import "carousel.css";
@import "placeholder-loading.min.css";
@import "notification.css";
@import "customPlaceholder.css";
@import "rainbow.css";
@import "placeholder.css";
@import "password.css";

input[type="radio"] {
    width: 20px;
    height: 20px;
    accent-color: #2a2a2a;
}

