.whyChoose-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #7D58A5FF;
}

.whyChoose-des{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #595959;
}
